{% extends "Pages/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Stories" %}{% endblock %}

	{% block slider %}
	<section class="home-slider owl-carousel">
		<div class="slider-item">
			<div class="container">
				<div class="row d-flex slider-text justify-content-center align-items-center"
					data-scrollax-parent="true">

					<div class="img"></div>

					<div class="text d-flex align-items-center ftco-animate">
						<div class="text-2 pb-lg-5 mb-lg-4 px-4 px-md-5">
							<h3 class="subheading mb-3">Featured Posts</h3>
							<h1 class="mb-5">Love the Delicious &amp; Tasty Foods</h1>
							<p class="mb-md-5">A small river named Duden flows by their place and supplies it with the
								necessary regelialia</p>
								<p><a href="#" class="btn btn-black px-3 px-md-4 py-3">Read More <ion-icon name="arrow-forward-sharp"></ion-icon></a></p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	{% endblock %}

	{% block recent %}
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-7 heading-section ftco-animate">
					<h2 class="mb-4"><span>Recent Stories</span></h2>
				</div>
			</div>
			<div class="row">

				<!-- BIGGER TILE -->

				<div class="col-md-6 order-md-last col-lg-6 ftco-animate">
					<div class="blog-entry">
						<div class="img img-big d-flex align-items-end">
							<div class="overlay"></div>
							<div class="text">
								<span class="subheading">Food</span>
								<h3><a href="{% url 'post' blog.id %}">Tasty &amp; Delicious Foods</a></h3>
								<p class="mb-0"><a href="{% url 'post' blog.id %}" class="btn-custom">Read More <ion-icon name="arrow-forward-sharp"></ion-icon></span></a></p>
							</div>
						</div>
					</div>
				</div>

				<!-- END BIGGER TILE -->
				<!-- SMALLER TILE -->
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 ftco-animate">
							<div class="blog-entry">
								<a href="{% url 'post' blog.id %}" class="img d-flex align-items-end">
									<div class="overlay"></div>
								</a>
								<div class="text pt-3">
									<p class="meta d-flex"><span class="pr-3">Dessert</span><span
											class="ml-auto pl-3">March 01, 2018</span></p>
									<h3><a href="{% url 'post' blog.id %}">Tasty &amp; Delicious Foods</a></h3>
									<p class="mb-0"><a href="{% url 'post' blog.id %}" class="btn-custom">Read More <ion-icon name="arrow-forward-sharp"></ion-icon></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END SMALLER TILE -->
			</div>
		</div>
	</section>
	{% endblock %}
	
	{% block featured %}
	<section class="ftco-section ftco-no-pt">
		<div class="container">
			<div class="row">
				<!-- FEATURED SECTION -->
				<div class="col-lg-9">
					<div class="row">
						<div class="col-md-12 heading-section ftco-animate">
							<h2 class="mb-4"><span>Featured Posts</span></h2>
						</div>
					</div>
					<!-- POST SECTION -->
					<div class="row">
						{% for blog in blog %}
						
						{% if blog.post %}
							
						<div class="col-md-4 ftco-animate">
							<div class="blog-entry">
								<a href="{% url 'post' blog.id %}" class="img-2"><img src="{{blog.bg_img.url}}" class="img-fluid" alt="Colorlib Template"></a>
								<div class="text pt-3">
									<p class="meta d-flex"><span class="pr-3">Dessert</span><span
											class="ml-auto pl-3">{{blog.pubDate}}</span></p>
									<h3><a href="#">{{blog.title}}</a></h3>
									<p class="mb-0"><a href="{% url 'post' blog.id %}" class="btn btn-black py-2">Read More <ion-icon name="arrow-forward-sharp"></ion-icon></span></a></p>
								</div>
							</div>
						</div>
						
						{% endif %}
							
						{% endfor %}
					</div>
					<!-- END POST SECTION -->
				</div>

				<!-- END FEATURED SECTION -->
				<!--About Me-->
				
				{% if author %}

				<div class="col-lg-3">
					<div class="sidebar-wrap">
						<div class="sidebar-box p-4 about text-center ftco-animate">
							<h2 class="heading mb-4">About Me</h2>
							<img src="{{ author.image.url }}" class="img-fluid" alt="Colorlib Template">
							<div class="text pt-4">
								<p>Hi! My name is <strong>{{ author.name }}</strong>, {{ author.words }}</p>
							</div>
						</div>
					</div>
				</div>
					
				{% endif %}
					
				<!--END About Me-->
			</div>
		</div>
	</section>
	{% endblock %}

	{% block video %}
	{% for video in video %}
	
	<section class="ftco-section ftco-no-pt ftco-section-about ftco-no-pb bg-darken">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-9 order-md-last img py-5"
				style="background-image: url( {{ video.bg_img.url }} );" ></div>
				<!-- VIDEO-->
				<div class="col-sm-6 col-md-6 col-lg-3 py-4 text d-flex align-items-center ftco-animate">
					<div class="text-2 py-5 px-4">
						<p class="mb-5"><a href="{{ video.url }}" class="btn-custom popup-vimeo">Watch Video
							<ion-icon name="play-sharp"></ion-icon></a></p>
							<h1 class="mb-5">{{ video.title }}</h1>
							<p class="mb-md-5">{{ video.text }}</p>
							<span class="date">{{ video.pubDate }}</span>
						</div>
					</div>
					<!--END VIDEO-->
				</div>
			</div>
		</section>
		
	{% endfor %}
	{% endblock %}

	{% block newsletter %}
	<section class="ftco-subscribe ftco-section bg-light">
		<div class="overlay">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-8 text-wrap text-center heading-section ftco-animate">
						<h2 class="mb-4"><span>Subcribe to our Newsletter</span></h2>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
							It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
						<div class="row d-flex justify-content-center mt-4 mb-4">
							<div class="col-md-8">
								<form method="POST" class="subscribe-form">
									<div class="form-group d-flex">
										{{ newsletter_form.as_p }}
										{% csrf_token %}
										<input type="submit" value="Subscribe" class="submit px-3">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
